@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Declarando as Variáveis (CORES)*/

:root {
    --cor1:rgb(251, 155, 65);    /* Cor Secundária */
    --cor2:rgb(3, 42, 78);       /* Cor principal  */
    --cor3:white;
    --cor4:blue;
    --cor5:white;
    --cor6:rgba(0, 0, 0, 0.400); /* Preto com transparência 0.400 */

}



body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    background-color: rgb(192, 202, 166);
    height: 100vh;
    width: 100vw;
        
}

header {
    background-color: var(--cor2);
    color: white;
    padding: 15px;
    border-radius: 12px 12px 0px 0px;
    box-shadow: 10px 10px 15px  var(--cor6);

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;   
}




 /* Currículo Virtual*/

#cv {
    /*background-color: rgb(81, 79, 79);*/
    margin: 10px -5px 20px;
    padding: 10px;
}

header > #cv h1 > a { /* Currículo Virtual*/
    color:white;  
    text-decoration: none; 
}

header > #cv > h1 > a:hover {/* Currículo Virtual : hover */
    color:var(--cor1);
}





/* Botões do Menu de Navegação */

header > nav {
    border: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;    
}

header > nav > a {
    background-color: white;
    color:var(--cor1);    
    padding: 10px 15px 10px 15px;
    margin: 10px;
    border-radius: 5px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
}

header > nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor2);
    transition: background-color .3s;    
}

/* FIM  ****   Botões do Menu de Navegação *****/





main {
    background-color: rgb(22, 28, 99);
    margin: auto;
    padding: 0px;
    max-width: 90vw;
    border-radius: 12px;
}

section.conteudo {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0px;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 10px 10px 15px  lab(0% 0 0 / 0.400);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


main > section > p {    
    color: white;
    text-align: justify;
    text-indent: 20px;
}


main > section.conteudo > div.curriculo {
    background-color: var(--cor1);
    padding: 5px;
    margin: 20px;
    width: 300px;
    height: 300px;
    border-radius: 5%;
    box-shadow:3px 3px 8px var(--cor6);

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}


main > section.conteudo > div.curriculo > picture > a > img  {
    width: 290px;
    height: 290px;
    border-radius: 15px;
      
}

main > section.conteudo > div.curriculo > picture > a > img:hover {

    transform: translate3d(-10px, -10px, -10px);
    transition-duration: .4s;
    box-shadow: 2px 2px 8px var(--cor6);
    
}








/* |||||||||||||||||       Início do FOOTER        |||||||||||||||||||||||||||||*/



footer {
    background-color:var(--cor2);
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 150px;
    padding: 30px;
    margin: 100px 0px;
    text-align: center;
    font-size: 1.3em;       
}

footer > p {
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    font-size: 1em;
    text-align: center;
    padding-top: 25px;
}

   

footer > p > a {         /*Link que está dentro do parágrafo do footer*/                    
    color:var(--cor1);    

}

footer > p > a:hover {   /*Hover do link dentro do footer */

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:var(--cor1);   
}